<ion-header type="md" fullscreen="true" class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-menu-toggle>
            <ion-button size="small" color="light"><ion-icon name="menu-outline"></ion-icon></ion-button>
          </ion-menu-toggle>
        </ion-col>
        <ion-col>{{text}}</ion-col>
        <ion-col class="col-panier">
          <div (click)="goTo()" class="panier">
            <ion-icon name="basket-outline"></ion-icon>
          </div>
          <span class="count" >{{(commande$|async).commandeProduits.length}}</span>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>