@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~swiper/scss/effect-fade';
@import '~@ionic/angular/css/ionic-swiper';

@mixin rounded-comp {
    border-radius: 10px;
    margin: 2% 2% 0 2%;
}

ion-slides {
    @include rounded-comp();
}

ion-item {
    margin: 0 2%;
    width: 75%;
    height: 4em;
    font-size: small;
    border-radius: 10px;
}
ion-select-option {
    height: 1em;
}

ion-item-divider {
    background-color: white;
}

.loader-content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totop {
    width: 3em;
    height: 3em;
    --border-radius: 50% !important;
}

.top {
    bottom: 20px;
}

.filter-prix {
    ion-label {
        border: 1px solid;
        border-radius: 10px;
        padding: 0.75% 6%;
        font-weight: 600;

    }
}

ion-content::-webkit-scrollbar {
	display: none;
}