
<app-header text="catalogue"></app-header>>

<ng-container *ngIf="(catalogue$|async) != null">
  
  <ion-content fullscreen="true" [scrollEvents]="true" class="ion-no-border">
    <ion-slides class="" pager="true" effect="fade" [options]="{ slidesPerView: 1, loop: true,autoplay : true ,speed : 600 }">
      <ion-slide>
        <img src="../../assets/img/slide1.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/slide2.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/slide3.jpg" alt="">
      </ion-slide>
    </ion-slides>

    <ion-item-divider>
      <ion-label>
        Nos Produits
      </ion-label>
    </ion-item-divider>

    <ion-segment (ionChange)="segmentChanged($event)" color="dark" class="ion-text-sm-center">
      <ion-segment-button (click)="index = 'produits'" value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="index = 'burgers'" value="burgers">
        <ion-label>Burgers</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="index = 'menus'" value="menus">
        <ion-label>Menus</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-button class="ion-margin" id="open-modal" size="small" color="warning" horizontal="center"><img class="ion-margin-end" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAABVUlEQVQ4jc3UsS9dYRzG8U/pUCLRSFmFxWKwNN0MkjKgCZt0IGEwY9C53fQPaBEmqwQRQ10miYShg1UYTKRJBYnE1XQ4v5veyL28J5Y+yZOT93l/53t+73nfc/jf9eLBeBKNORmX+FYNeIJXOEqEdeIWbdUKpnGDrgRYV9ROP1W4jFM0P1LThGOsJDxYHQ6xjZcV5muxhZ+oTwFCK84xV2HuK36hPRVWUg/uMFqWjaCIvrywkqZkL34+fBPZs3SG3fAZulHAdXgHA3mAJxgLF3GP7xgPz0f2hcq7WE11sg/hg+wUrEY+jHWsYT9Ph7vRDdmSj8OFyBZQqEnsrgPvsBHj32jAD/8O9wbepi559sF4ExcYwhssif9CSodFzARkMLKPeC/b5deRDeIgpbvOuPYGfAAt2Au3BOwe/SnAcn2KGxcwEV7EH3zOCyupdLCvwoXyzv4CZl5NNN20+1kAAAAASUVORK5CYII=">Filtrer par prix</ion-button>

    <ng-container  *ngIf="!showLoader">
      <ng-container *ngFor="let produit of (catalogue$|async)[index]|filterPrice:objVal">
        <app-card-produit [produit]="produit"></app-card-produit>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="showLoader">
      <div class="ion-padding-top">
        <ild-loader></ild-loader>
      </div>
    </ng-container>

    <ion-fab class="top" vertical="bottom" horizontal="start" dark slot="fixed">
      <ion-fab-button color="dark" class="totop" (click)="gotToTop()">
        <ion-icon name="caret-up-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-modal
      trigger="open-modal"
      [initialBreakpoint]="0.25"
      [breakpoints]="[0, 0.25, 0.5, 0.75]"
      handleBehavior="cycle"
    >
      <ng-template>
        <ion-content class="ion-padding">
          <div class="filter-prix ion-margin-top">
            <ion-label>Prix</ion-label>
            <ion-range class="ion-margin-top" (ionChange)="onIonChange($event)" [min]="minPrice" [max]="maxPrice" [pin]="true" [ticks]="true" [dualKnobs]="true" [value]="objVal"></ion-range>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ng-container>
<ng-container *ngIf="(catalogue$|async) == null">
  <ion-content fullscreen="true" scrollY="true">
    <div class="loader-content">
      <ild-loader></ild-loader>
    </div>
  </ion-content>
</ng-container>