ion-card {
    background-color: rgb(253, 252, 252);
}

ion-card ion-card-header:first-child {
    padding: 0 !important;
    height: max-content !important;
    ion-row {
        width: 100%;
        height: max-content !important;
    }
}

ion-card-header {
    img{
        border-radius: 3%;
        cursor: pointer;
        transition: all ease 0.35s;
    }
}

.img-card:hover {
    background-color: rgba($color: black, $alpha: 0.3);
}

ion-card-content {
    padding: 2% 5% 3% 5%;
    display: flex;
    justify-content: space-between;
}

ion-card {
    ion-chip {
        font-weight: 600;
        font-size: small;
    }
}

ion-card-subtitle {
    color: rgb(13, 12, 12);
    font-size: 15px;
}

.prix {
    font-weight: 600;
    color: black;
}
