<app-header text="Commandes"></app-header>>

<ion-content fullscreen="true">
  <div class="segment">
    <ion-segment (ionChange)="segmentChanged($event)" color="dark" class="ion-text-sm-center" shadow="">
      <ion-segment-button  (click)="etat = 'en cours'" value="en cours" checked>
        <ion-label color="primary" class="en-cours">En cours</ion-label>
      </ion-segment-button>
      <ion-segment-button   (click)="etat = 'valide'" value="valide">
        <ion-label color="success" class="valide">Validé</ion-label>
      </ion-segment-button>
      <ion-segment-button   (click)="etat = 'annule'" value="menu">
        <ion-label color="danger" class="annule">Annulé</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <br>
  <ion-item class="date-item">
    <ion-label class="date-label">
      <img class="ion-margin-end" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAArUlEQVRIieWVUQ6CQAxEn4bbkHgO4drgl5xCuANfBD+oZlOCtuwiGidpmiVtZ3d2M8COuABVwroZRomouqNal0CrGsY3Eda1QPFqN4/hMXELBx4UgUUSC55ztUTJsTlBtvBdS2fFTOLfl+grCWqgAXLJLpuw2EMjNYPkq6ffQpAHwwdZJyVwnWDNHfRCcpLce5qtFm3u//gz7dROvAGT5S+iYPLzmH/BecVB/xl3Ewdqi0ij2mcAAAAASUVORK5CYII="> 
      <span>Date filter</span>
    </ion-label>
    <ion-datetime-button color="dark" class="affiche-date" datetime="datetime">da</ion-datetime-button>
  </ion-item>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime color="bb" size="small" (ionChange)="getDateFilter(datetime.value)"  presentation="date" locale="fr-FR" id="datetime" #datetime>
      </ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-item-divider class="ion-no-border"></ion-item-divider>
  <ion-list shadow="true">
    <ion-item-sliding class="list-options ion-no-border">
      <ion-item>
        <ion-label>
          numero
        </ion-label>
        <ion-label>
          montant
        </ion-label>
        <ion-label>
          livraison
        </ion-label>
        <ion-label>
          
        </ion-label>
        <ion-label>
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
    <ng-container *ngIf="(commandes$|async) != null">
      <ng-container *ngFor="let commande of commandes$|async|filterEtat : etat|fitlterDate : date">
        <div #itemCommande>
          <ion-item-sliding>
            <ion-item class="commande-item">
              <ion-label>{{commande.numero}}</ion-label>
              <ion-label>{{commande.montant}}</ion-label>
              <ion-label *ngIf="commande.zone != null">A livrer</ion-label>
              <ion-label *ngIf="commande.zone == null">Sur place</ion-label>
              <ion-label>
                <ion-badge *ngIf="commande.etat == 'en cours'" color="primary">
                  {{commande.etat}}
                </ion-badge>
                <ion-badge *ngIf="commande.etat == 'valide'" color="success">
                  {{commande.etat}}
                </ion-badge>
                <ion-badge *ngIf="commande.etat == 'annule'" color="danger">
                  {{commande.etat}}
                </ion-badge>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option *ngIf=" etat == 'en cours'" class="annuler" (click)="annuler(itemCommande,commande.id)">Annuler</ion-item-option>
              <ion-item-option routerLink="/details-commande" [queryParams]="{ id: commande.id}" class="details" (click)="true">Details</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="(commandes$|async) == null">
      <ild-loader></ild-loader>
    </ng-container>
  </ion-list>
</ion-content>
