.en-cours {
    --background : rgb(59, 59, 231);
}

ion-item-divider {
    --background : white ;
}

.annuler {
    --background : red;
    font-size: small;
}

.details {
    --background : gray;
    font-size: small;
}

.list-options {
    border-radius: 5px;
    padding: 0 2%;
    --background : rgb(240, 240, 240); 
    ion-item {
        --background : rgb(240, 240, 240); 
        ion-label {
            --background : rgb(240, 240, 240); 
            font-size: small;
            color: rgb(60, 60, 60);
        }
    }
}

.segment {
    display: flex;
    justify-content: center;
    ion-segment {
        width: 95%;
    }
}

.md .segment {
    ion-segment {
        ion-label {
            font-size: x-small;
            text-align: center;
            font-variant-caps: petite-caps;
        }
    }
}

.date-label {
    display: flex;
    align-items: center;
    width: 50px;
    font-size: small;
}

.commande-item {
    ion-label {
        font-size: small;
    }
}

.affiche-date {
    font-size: small;
    border: 1px solid;
    border-radius: 5px;
}

.date-item {
}